<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
			integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
			crossorigin="anonymous"
	/>
	<link rel="stylesheet" href="style.css" />
	<title>VideoChat</title>
</head>
<body>
<div class="join-container">
	<main class="join-main">
		<h2 style="margin-bottom: 30px">Видеочат</h2>
		<form action="/room">
			<div class="form-control">
				<label for="user">Пользователь</label>
				<input
						type="text"
						name="user"
						id="user"
						placeholder="Введите имя пользователя"
						required
				/>
			</div>
			<div class="form-control">
				<label for="room">Сервер</label>
				<select name="room" id="room">
					<option value="Pechonsk">Pechonsk</option>
					<option value="JinGray">JinGray</option>
					<option value="Saratov">Saratov</option>
				</select>
			</div>
			<button type="submit" class="btn">Присоединиться</button>
		</form>
	</main>
</div>
</body>
</html>
